body.toplevel_page_wp-stripe-app {
    #wpcontent {
        .app-container {
            background: white;
            .navbar-nav > li { margin-bottom: 0; }
            .customer-list {
                border-bottom: 1px solid rgba( 0, 0, 0, 0.25 );
                padding-bottom: 10px;
                padding-top: 10px;
                &:hover {
                    background: rgba( 0, 0, 0, 0.05);
                }
                &:last-child {
                    border-bottom: none;
                }
                &.delinquent {
                    border: 2px solid red;
                    background: rgba( 255, 0, 0, 0.1 );
                }
            }
            .delete {
                cursor: pointer;
                display: block;
                text-align: center;
            }
            .red {
                color: red;
            }

            .app-template-wrapper {
                //background: white;
                padding-bottom: 20px;
                padding-top: 20px;
            }
        }
    }
}
.buffer {
    margin-top: 20px;
    .more {
        margin-top: 40px;
    }
}