<h2>Customer Detail</h2>
<form class="row" ng-submit="saveCustomer()">
    <div class="col-sm-9">
        <article>
            <dl>
                <dt><h4>{{customer.shipping.name}}</h4></dt>
                <dd><strong>ID</strong> {{customer.id}}</dd>
                <hr />
                <dt><h4>Email</h4></dt>
                <dd>{{customer.email}}</dd>
                <hr />
                <dt><h4>Phone</h4></dt>
                <dd>
                    <input ng-model="customer.shipping.phone" class="form-control" />
                </dd>
                <hr/>
                <dt><h4>Subscriptions</h4></dt>
                <dd>
                    <span ng-if="customer.subscriptions.data.length == 0">No Subscriptions</span>
                    <span  ng-if="customer.subscriptions.data" ng-repeat="sub in customer.subscriptions.data">
                        <strong>{{sub.plan.name}}</strong>: ${{sub.plan.amount / 100}} / {{sub.plan.interval}}
                    </span>
                </dd>
                <hr />
                <dt><h4>Account Balance</h4></dt>
                <dd>
                    <input ng-model="customer.account_balance" class="form-control" />
                    <em>Must be in 1/100 (i.e pennies)</em>
                </dd>
                <hr />
                <dt><h4>Customer Address</h4></dt>
                <dd>
                    <address>
                        <input ng-model="customer.shipping.address.line1" class="form-control" />
                        <input ng-model="customer.shipping.address.line2" class="form-control" />
                        <input ng-model="customer.shipping.address.city" class="form-control" />
                        <input ng-model="customer.shipping.address.state" class="form-control" />
                        <input ng-model="customer.shipping.address.postal_code" class="form-control" />
                    </address>
                </dd>
                <hr />
                <dt><h4>Customer Meta Data</h4></dt>
                <dd>
                    <ul>
                        <li ng-repeat="(metakey,metavalue) in customer.metadata">
                            <strong>{{metakey}}</strong>: {{metavalue}}
                        </li>
                    </ul>
                </dd>
                <hr />
                <dt><h4>Delinquent</h4></dt>
                <dd>
                    <span ng-if="customer.deliquent">Delinquent</span> <span ng-if="!customer.deliquent">No</span>
                </dd>
                <hr />
                <dt><h4>Description</h4></dt>
                <dd>
                    <textarea ng-model="customer.description" class="form-control"></textarea>
                </dd>

            </dl>
        </article>
    </div>
    <div class="col-sm-3">
        <p class="text-center" ng-show="updated">Updated!</p>
        <button type="submit" class="btn btn-block btn-success">Save Customer</button>
        <hr />
        <a ui-sref="customerDetail({id:customer.id})" class="btn btn-block btn-primary">View Customer</a>
        <hr />
        <span ng-click="deleteCustomer()" class="delete red">Delete Customer</span>
    </div>
</form>