<h2>Customer Detail</h2>
<div class="row">
    <div class="col-sm-8">
        <article>
            <dl>
                <dt><h4>{{customer.shipping.name}}</h4></dt>
                <dd><strong>ID</strong> {{customer.id}}</dd>
                <hr />
                <dt><h4>Email</h4></dt>
                <dd>{{customer.email}}</dd>
                <hr />
                <dt><h4>Phone</h4></dt>
                <dd>{{customer.address.phone}}</dd>
                <hr />
                <dt><h4>Subscriptions</h4></dt>
                <dd>
                    <span ng-if="customer.subscriptions.data.length == 0">No Subscriptions</span>
                    <span  ng-if="customer.subscriptions.data" ng-repeat="sub in customer.subscriptions.data">
                        <strong>{{sub.plan.name}}</strong>: ${{sub.plan.amount / 100}} / {{sub.plan.interval}}
                    </span>
                </dd>
                <hr />
                <dt><h4>Account Balance</h4></dt>
                <dd>${{customer.account_balance / 100}}</dd>
                <hr />
                <dt><h4>Customer Address</h4></dt>
                <dd>
                    <address>
                        {{customer.shipping.address.line1}} <br/>
                        {{customer.shipping.address.line2}} <br/>
                        {{customer.shipping.address.city}}, {{customer.shipping.address.state}} {{customer.shipping.address.postal_code}}
                    </address>
                </dd>
                <hr />
                <dt><h4>Customer Meta Data</h4></dt>
                <dd>
                    <ul>
                        <li ng-repeat="(metakey,metavalue) in customer.metadata">
                            <strong>{{metakey}}</strong>: {{metavalue}}
                        </li>
                    </ul>
                </dd>
                <hr />
                <dt><h4>Delinquent</h4></dt>
                <dd>
                    <span ng-if="customer.deliquent">Delinquent</span> <span ng-if="!customer.deliquent">No</span>
                </dd>
                <hr />
                <dt><h4>Description</h4></dt>
                <dd>{{customer.description}}</dd>
            </dl>
        </article>
    </div>
    <div class="col-sm-4">
        <a ui-sref="customerEdit({id:customer.id})" class="btn btn-block btn-warning buffer">Edit</a>
    </div>
</div>